doctype.html
html
  head
    title GoodListenings Profile
    meta(name="viewport" content="width=device-width, user-scalable=no")
  body
    p #{user.facebook.id}
    p #{user.facebook.token}
    p #{user.facebook.email}
    p #{user.facebook.name}
    